ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e4cece;
}

li {
  float: left;
  height: 300px;
  width: 300px;
  display: inline-block;
}
img {
  height: 190px;
  width: 190px;
}
.countryCard {
  display: flex;
}
.search_itm {
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
